 <hr />
<h4> <%= @post.title %> </h4>

<p> <%= @post.description %> </p>

<small class="muted">
  <%= link_to @post.url, @post.url %> 
</small> <hr />

<% if logged_in? %>
  <%= render 'comments/comment_form' %>
<% end %>