<div class="row">
  <div class="span9">
    <h5 class="lead">Category: <%= @category.name %></h5>
  
    <hr /></div>
</div>

<% @category.posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>